<div class="container">
    <table class="table is-striped">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th>Imagen</th>
            <th>Precio</th>
            <th>Detalle</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let prod of products">
                <td>{{ prod.id }}</td>
                <td>{{ prod.name }}</td>
                <td>
                    <img [src]="prod.urlImage" alt="">
                </td>
                <td>{{prod.price | currency:'S/.'}}</td>
                <td>{{prod.description}}</td>
                <td>
                    <button [disabled]="!prod.actived" class="button is-small is-success" (click)="handleUpdate(prod.id)">Actualizar</button>
                    <button class="button is-small is-link" (click)="handleState(prod)">
                        {{ prod.actived ? 'Desabilitar' : 'Habilitar' }}
                    </button>
                    <button [disabled]="!prod.actived" class="button is-small is-danger" (click)="handleDelete(prod)">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>